body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #1b1b1b;
	background: url("../images/background.png") no-repeat center center fixed;
	background-size: cover;
	background-image: url("../images/background.png");
	background-color: #171721;
	color: white;
}

/* Navbar styling */
.navbar {
	background-color: white;
}
.navbar-brand {
	font-weight: bold;
	color: #f4a900;
}
.nav-link {
	color: black;
	font-weight: 500;
}
.nav-link:hover {
	color: #f4a900;
}
.btn-homepage {
	background-color: #ffd369;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	padding: 5px 15px;
}
.btn-homepage:hover {
	background-color: #ffc107;
}

/* Footer styling */
footer {
	background-color: #1b1b1b;
	color: #d3d3d3;
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	bottom: 0;
	width: 100%;
}

.influencer {
	color: #aa2cc0;
}

.title h1:first-of-type {
	color: #ffd264;
}

.title h1:nth-child(2) {
	color: #ff6902;
}

.defining {
	font-size: 10px;
}

.defining h1,
.defining h2 {
	color: #ec0075;
}

.img-container {
	position: relative;
	display: inline-block;
}

.custom-img {
	width: 230px;
	height: 180px;
	object-fit: cover;
}

.miscontrued {
	color: #ff6902;
}

.disruptive-nature h1 {
	color: #ffd264;
}

.last-section {
	font-size: 10px;
}

.last-section p:nth-child(5) {
	font-size: 12px;
}

/* .last-section img {
  width: 400px;
	height: px;
	object-fit: cover;
} */
