@font-face {
  src: url("../fonts/ArialUnicode-Regular.otf") format("opentype");
  font-family: ArialUnicode;
  font-weight: Regular;
}

@font-face {
  src: url("../fonts/ArialUnicode-Bold.otf") format("opentype");
  font-family: ArialUnicode;
  font-weight: 200;
}

@font-face {
  src: url("../fonts/Rambla-Regular.ttf") format("truetype");
  font-family: Rambla;
  font-weight: 100;
}

@font-face {
  src: url("../fonts/Rambla-Italic.ttf") format("truetype");
  font-family: Rambla;
  font-weight: 200;
}

@font-face {
  src: url("../fonts/Rambla-Bold.ttf") format("truetype");
  font-family: Rambla;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Rambla-BoldItalic.ttf") format("truetype");
  font-family: Rambla;
  font-weight: Bold-Italic;
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-family: Roboto;
  font-weight: Regular;
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-family: Roboto;
  font-weight: Bold;
}

body {
  background-image: url("../images/background.png");
  background-color: #171721;
  background-position: center;
  background-position-y: -5%;
  overflow-x: hidden;
  max-width: 100%;
}



div > p {
  font-family: Arial;
  font-weight: 100;
  font-size: 16px;
  color: #ffffff;

  line-height: 25px;
}

img {
  max-width: 95%;
  height: auto;
  place-items: center;
  text-align: center;
}

.t {
  margin-top: 125px;
}

.c {
  grid-column: 1/-1;
}

.l {
  place-items: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 39vw 38vw;
  grid-gap: 50px;
  padding-top: 150px;
  padding-left: 130px;
  padding-right: 40px;
  /*justify-items: center;*/
  grid-auto-flow: row;
  place-items: center;
}

.title-subheading {
  text-align: center;
  align-items: center;
  align-content: center;

  font-size: 25px;

  line-height: 15px;
  padding: 0;
  margin: 0;
}

#title-sh-1 {
  font-family: Rambla;
  font-weight: 100;
  color: #ffd265;
}

#title-sh-2 {
  font-family: Rambla;
  font-weight: 500;
  color: #ffffff;
}

#title-sh-3 {
  font-family: Rambla;
  font-weight: 100;
  color: #ff6903;
}



.title {
  text-align: center;
  align-items: center;
  align-content: center;

  padding: 0;
  margin: 0;
}

#title-1 {
  font-family: Roboto;
  font-weight: normal;
  color: #aa2cc0;
  font-size: 92.9px;

  letter-spacing: -1.5px;
}

#title-2 {
  font-family: Roboto;
  font-weight: bold;
  color: #4564dc;
  font-size: 122.9px;
  line-height: 80px;

  letter-spacing: -5.5px;
}

.section-1-1r {
  place-items: center;
}

.center-img {
  text-align: center;
}

.quote {
  font-family: Rambla;
  font-weight: 100;
  font-size: 40px;

  text-align: center;
  color: #ffffff;
}

.quote-section {
  font-family: Rambla;
  font-weight: 100;
  font-size: 25px;

  text-align: center;
  color: #ffffff;
}

.sbt {
  text-align: center;
  font-family: Rambla;
  font-weight: 100;
  font-size: 40px;

  line-height: 40px;
  margin-bottom: 40px;
}

.sh-r {
  text-align: right;
}

.section-2-title {
  justify-items: center;
  margin-top: 50px;
}

.section-2-subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  justify-items: center;
  text-align: justify;
  row-gap: 1ch;
  margin-bottom: 50px;
}

.word-grid {
  text-align: center;
}

.section-2-3r {
  text-align: right;
}

.section-3-title-r {
  text-align: right;
}

.section-3-subgrid {
  margin-top: 30px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.sec3-subitem-content {
  text-align: justify;
}

#sec-title-1 {
  font-family: Rambla;
  font-weight: 100;
  color: #ff6903;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 50px;
  margin-top: 50px;

}

#st-1-highlight{
  font-family: Rambla;
  font-weight: 500;
}

.st-1-para {
  text-align: justify;
}

.section-1-1r > img {
  text-align: center;
}

.section-1-3c {
  margin-top: 50px;
}

.sh-section-1 {
  font-family: Rambla;
  font-weight: 100;
  font-size: 45px;

  color: #ffffff;
  margin-bottom: 50px;
}

.para-section-1 {
  text-align: justify;
  font-size: 29px;

  line-height: 30px;
}

.para-section-1b {
  text-align: justify;
  font-size: 19px;

  line-height: 30px;
}

#h2-bold-italic {
  font-family: Rambla;
  font-weight: 500;
}

#h2-bold {
  font-family: Rambla;
  font-weight: 300;
}

#h2-italic {
  font-family: Rambla;
  font-weight: 200;
}
#p-bold {
  font-family: ArialUnicode;
  font-weight: 200;
}

.sec-title-2 {
  font-family: Rambla;
  font-weight: Bold;
  font-size: 60px;
  margin-bottom: 80px;
}

#pink {
  color: #ec0075;
}
#purp {
  color: #aa2cc0;
}
#blue {
  color: #4564dc;
}
#red {
  color: #ff3131;
}
#yellow {
  color: #ffd265;
}
#orange {
  color: #ff6903;
}


.sec2-subitem-title-1 {
  color: #ff6903
}

.sec2-subitem-title-2 {
  color: #ff3131
}

.sec2-subitem-content {
  font-size: 16px;
  margin-top: -30px;
}

.section-2-1-q {
  color: #ffd265;
  margin-bottom: 30px;
}

.section-2-1-p {
  font-size: 20px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sec2-highlight {
  font-family: Rambla;
  font-weight: 100;
  font-size: 33px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-3-title-r {
  text-align: right;
  justify-self: right;
  font-family: Rambla;
}

#sec3-title-I {
  color: #4564dc;
  font-weight: 300;
  font-size: 70px;
  margin-top: -25px;
}

#sec3-title-II {
  color: #aa2cc0;
  font-weight: 300;
  font-size: 30px;
  margin-top: -25px;
}

#sec3-title-III {
  color: #ffd265;
  font-weight: 300;
  font-size: 70px;
  margin-top: -10px;
  line-height: 60px;
}

#sec3-title-IV {
  color: #ff6903;
  font-weight: 300;
  font-size: 30px;
  margin-top: -10px;
}

.sec3 {
  text-align: justify;
}

.section-3-1l {
  margin-right: 50px;
  margin-top: 0px;
}

.section-3-1r {
  margin-left: 70px;
  margin-top: -50px;
}

.section-4-1l {
  margin-right: 50px;
  margin-top: -30px;
}

.section-4-1r {
  margin-left: 70px;
  margin-top: -60px;
}

.section-4-2c {
  margin-bottom: 50px;
}

.section-3-1c {
  line-height: 40px;
}

.section-3-2l {
  text-align: justify;
}

.section-3-2r {
  max-width: 65%;
  margin-right: 50px;
}

.sec3b {
  margin-top: -50px;
}

.sec3-subitem-title {
  font-family: Rambla;
  font-weight: 300;
  font-size: 20px;
}

.sec3-subitem-content {
  font-size: 18px;
}

.rect-1 {
  padding: 30px;
  padding-bottom: 150px;
  background-color: #ec0075;
}

.rect-2 {
  padding: 30px;
  background-color: #ff3131;
}

.rect-3 {
  padding: 30px;
  background-color: #ff6903;
}

.rect-1a {
  background-color: #ffffff;
  margin-top: -120px;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 15px;
}

.rect-2a {
  background-color: #ffffff;
  margin-top: -120px;
  margin-left: 30px;
  padding-top: -25px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.rect-3a {
  background-color: #ffffff;
  margin-top: -120px;
  margin-left: 30px;
  padding-top: -20px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.section-3-3l {
  width: 170%;
  margin-left: -250px;
}

.section-3-4r {
  width: 170%;
  margin-right: -300px;
  object-fit: contain;
}

.sec-title-4 {
  font-family: Rambla;
  font-weight: 300;
  font-size: 75px;
  line-height: 75px;
  color: #ff6903;
  margin-top: 60px;
}

.sec4-para > p {
  text-align: justify;
  font-size: 17px;
}

.sec4-para > h4 {
  font-family: Rambla;
  font-weight: 100;
  text-align: justify;
  font-size: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.sec4-big > h2 {
  font-family: Rambla;
  font-weight: 500;
  font-size: 110px;
  letter-spacing: -5px;
  line-height: 80px;
}

/* NavBar styling*/
header {
	background-color: white;
  font-family: ArialUnicode;
  color: black;
}



.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-brand {
	font-weight: bold;
	color: #f4a900;
  text-decoration: none;
}

.nav-item {
  display: inline-block;
}


.nav-link:hover {
	color: #f4a900;
}


.btn-homepage {
	background-color: #ffd369;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	padding: 5px 15px;
  text-decoration: none;
}

.btn-homepage:hover {
  color: white;
	background-color: #ffc107;
}


/* Footer styling */
footer {
  font-family: Arial;
	background-color: #1b1b1b;
	color: #d3d3d3;
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	border-top: 1px solid #333333;
	bottom: 0;
	width: 100%;
}
